:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    background-color: var(--Light-gray);
    font-family: 'Outfit', sans-serif;
}

.contenedor{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor__tarjeta{
    width: 30rem;
    height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    background-color: var(--White);
    padding: 1.4rem;
}

.contenedor__tarjeta img{
    width: 100%;
    height: 25rem;
    border-radius: 10px;
}

.contenedor__tarjeta h3{
    font-weight: bold;
    font-size: 2.2rem;
    color: var(--Dark-blue);
    margin-top: 2rem;
}

.contenedor__tarjeta p{
    padding: 1rem ;
    font-size: 1.5rem;
    color: var(--Grayish-blue);
}

@media (max-width : 375px){
    .contenedor {
        width: 100%;
    }

    .contenedor__tarjeta {
        width: 25rem;
        height: 40rem;
    }

    .contenedor__tarjeta img{
        height: 20rem;
    }

    .contenedor__tarjeta h3{
        font-size: 2rem;
        margin-top: 1.3rem;
    }
    
    .contenedor__tarjeta p{
        font-size: 1.3rem;
    }
}